.modal-prodcut .modal-dialog {
    max-width: 1100px !important;
}

/* icone hover */
.modal-prodcut .icone {
    position: relative;
    z-index: 1;
}

.modal-prodcut .icone::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: .2s all;
    z-index: -1;
}

.modal-prodcut .icone:hover::before {
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
}

.modal-prodcut .icone:hover svg {
    color: white !important;
    cursor: pointer;
}